---
import Section from '@component/Section.astro'
import { Interests, Profile, Web } from '@schema'
import { Image } from 'astro:assets'
import { ABOUT } from '@config/link'
---

<Section id={ABOUT.id} label={ABOUT.label}>
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
  >
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-primary-500 dark:[&>p>strong]:text-primary-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        {Web.about}
      </p>

      {
        Interests.map(item => (
          <p class="">
            <strong>{item.name}</strong> {item.reason}
          </p>
        ))
      }
    </div>

    <Image
      width={300}
      height={400}
      loading="lazy"
      alt={Profile.name}
      src={Web.image}
      class="order-1 md:order-2 object-cover w-64 h-full p-1 rotate-3 aspect-square rounded-2xl bg-primary-300 dark:bg-primary-200"
    />
  </article>
</Section>
