---
import ButtonLink from "@component/ButtonLink.astro";
import { HOME } from "@config/link";
import { Profile } from "@schema";
const networks = [
  Profile.network.cv,
  Profile.network.email,
  Profile.network.github,
  Profile.network.whatsapp
];
---

<section
  id={HOME.id}
  class="relative h-screen flex flex-col justify-center items-center gap-3"
>
  <article class="text-center flex flex-col gap-5 max-w-lg">
    <h1 class="text-5xl">{Profile.greeting}</h1>
    <h2
      class="text-3xl text-secondary bg-gradient-to-r from-primary-500 to-primary-600 bg-clip-text text-transparent animate-pulse"
    >
      {Profile.label}
    </h2>

    <p class="py-4 px-6 md:px-2 text-md text-gray-500">
      {Profile.summary}
    </p>
  </article>
  <div class="grid grid-flow-row grid-cols-2 md:grid-flow-col gap-3">
    {
      networks.map(item => (
        <ButtonLink
          link={item.url}
          icon={item.icon}
          tooltip={item.label}
          id={`profile-${item.icon}`}
        >
          {item.name}
        </ButtonLink>
      ))
    }
  </div>
</section>
