---
import ButtonLink from '@component/ButtonLink.astro'
import { Network, Profile, Web } from '@schema'
import { HOME } from '@config/link'

const webNetwork = [Network.cv, Network.email, Network.github]
---

<section
  id={HOME.id}
  class="relative h-screen flex flex-col justify-center items-center gap-3"
>
  <article class="text-center flex flex-col gap-5 max-w-lg">
    <h1 class="text-5xl">{Profile.greeting}</h1>
    <h2
      class="text-3xl text-secondary bg-gradient-to-r from-primary-500 to-primary-600 bg-clip-text text-transparent animate-pulse"
    >
      {Web.label}
    </h2>

    <p class="py-4 px-6 md:px-2 text-md text-gray-500">
      {Web.summary}
    </p>
  </article>
  <div class="flex flex-wrap justify-center gap-3">
    {
      webNetwork.map(item => (
        <ButtonLink
          link={item.url}
          icon={item.icon}
          tooltip={item.label}
          id={`profile-${item.icon}`}
        >
          {item.name}
        </ButtonLink>
      ))
    }
  </div>
</section>
