---
import Section from '@component/Section.astro'
import Tooltip from '@component/Tooltip.astro'
import Logo from '@component/Logo.astro'
import { SKILL } from '@config/link'
import { Skills } from '@schema'
---

<Section id={SKILL.id} label={SKILL.name}>
  <article class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
    {
      Skills.flatMap(skills =>
        skills.keywords.map(item => (
          <div class="flex flex-col items-center p-2">
            <Tooltip title={item.name} color={`logo-${item.logo}`}>
              <a
                href={item.website}
                target="_blank"
                aria-label={item.name}
                class={`p-4 block bg-logo-${item.logo}/10 rounded-lg shadow hover:shadow-logo-${item.logo}/50 hover:dark:shadow-logo-${item.logo}`}
              >
                <Logo logo={item.logo} />
              </a>
            </Tooltip>
          </div>
        ))
      )
    }
  </article>
</Section>

<style>
  .graphic:hover {
    box-shadow: 0 0 10px rgba(145, 14, 14, 0.3); /* Adjust shadow as needed */
  }
</style>
