---
import Avatar from '@assets/image/profile/formal.jpg'
import { Profile } from '@schema'
interface Props {
  title?: string
  description?: string
}

const props = Astro.props
const title = props.title ?? Profile.name
const description = props.description ?? Profile.ogDescription
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="profile" />
<meta property="og:title" content={title} />
<meta property="og:url" content={Profile.url} />
<meta property="og:image" content={`${Profile.url}${Profile.image.src}`} />
<meta property="og:description" content={description} />
<meta property="profile:first_name" content={Profile.firstName} />
<meta property="profile:last_name" content={Profile.lastName} />
